<div class="card-body">
    <h3 class="card-title d-flex py-3 px-3 rounded-2 text-light justify-content-center align-items-center" style="background-color: var(--bs-dark) !important;"><i class="bi bi-journal pe-3"></i>@Model.Title</h3>
    
    <div class="card-text p-3">@Html.Raw(Model.Content.Replace(Environment.NewLine, "<br/>"))</div>

    <div class="card-footer rounded-2 d-flex align-items-center bg-secondary text-light">
        <div class="d-flex flex-fill justify-content-center align-items-center"><i class="bi bi-globe text-light px-2"></i>@Model.Category.CategoryName</div>
        <div class="d-flex flex-fill justify-content-center align-items-center"><i class="bi bi-person text-light px-2"></i><strong>@Model.User.UserName</strong></div>
        <div class="d-flex flex-fill justify-content-center align-items-center"><i class="bi bi-calendar text-light px-2"></i><small>@Model.Date.ToShortDateString()</small></div>
    </div>
</div>