@model OpenDiscussion.Models.Category

<h1 class="d-flex flex-row justify-content-center m-5 text-light">@ViewBag.CategoryName</h1>

@if (ViewBag.Msg != null)
{
    <h2 id="alertmsg" class="alert-success mb-5 text-center p-3">@ViewBag.Msg</h2>
}

@if (!String.IsNullOrEmpty(ViewBag.SearchString))
{
    <div class="d-flex flex-row justify-content-between align-items-center">

        <div class="flex-fill">
            <form method="GET">
                <div class="input-group">
                    <input type="text" class="form-control"
                       placeholder="Search topics or keywords" name="search"
                       value="@ViewBag.SearchString">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="btn-group sort-btn ps-3">
            <button class="btn btn-outline-success px-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Sorteaza </button>

            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2" aria-labelledby="dropdownMenuButton1">
                <li>
                    @Html.ActionLink("Numar de raspunsuri", "Show", new {search = ViewBag.SearchString, sortOrder = "resp" },
                new { @class="dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Data", "Show", new {search = ViewBag.SearchString, sortOrder = "date" } ,
                new { @class="dropdown-item" })
                </li>
            </ul>
        </div>
    </div>

    <br />
}
else
{
    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
               placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>

    <br />
}

@foreach (var top in ViewBag.Topics ?? new List<Topic>())
{
    <div class="card">
        <a class="btn btn-block" href="/Topics/Show/@top.Id">
            <div class="card-body">
                    <h5 class="card-title py-3 px-3 m-0 rounded-2 text-light" style="background-color: var(--bs-dark) !important;">@top.Title</h5>
            </div>
        </a>
    </div>

    <br />
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
                <a class="page-link text-decoration-none text-white bg-dark rounded-2 border-0"
                   href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link text-decoration-none text-white bg-dark border-0"
                   href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link text-decoration-none text-white bg-dark border-0"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-
                   label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<br />
<hr />
<br />